<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<meta charset="UTF-8">
<title>Add a new User - Procurement System</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body layout:fragment="content">

	<div class="row">
		<div class="col-md-12 page-header">
			<h1 class="text-center">Create a new user</h1>
		</div>
	</div>
	
	<form th:action="@{/users/createuser}" th:object="${user}" method="POST" class="col-md-12">
		<div class="row">
			<div class="col">
				<div class="form-outline">
					<label class="form-label" for="fName">First Name</label>
					<input type="text" name="fName" id="fName" class="form-control" /> 
				</div>
			</div>
			<div class="col">
				<div class="form-outline">
					<label class="form-label" for="lName">Last Name</label>
					<input type="text" name="lName" id="lName" class="form-control" /> 
				</div>
			</div>
			<div class="col">
				<div class="form-outline">
					<label class="form-label" for="roomNumber">Room No.</label>
					<input type="text" name="roomNumber" id="roomNumber" class="form-control" /> 
				</div>
			</div>
			<div class="col">
				<div class="form-outline">
					<label class="form-label" for="phoneNumber">Phone No.</label>
					<input type="text" name="phoneNumber" id="phoneNumber" class="form-control" /> 
				</div>
			</div>
			<div class="col">
				<div class="form-outline">
					<label class="form-label" for="email">Email Address</label>
					<input type="text" name="email" id="email" class="form-control" /> 
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-outline">
					<label class="form-label" for="username">Username</label>
					<input type="text" name="username" id="username" class="form-control" /> 
				</div>
			</div>
			<div class="col">
				<div class="form-outline">
					<label class="form-label" for="password" >Password</label>
					<input type="password" name="password" id="password" class="form-control" /> 
				</div>
			</div>
		</div> 
		<div class="form-outline">
			<label class="form-label" for="role">User Role</label>
			<select name="role" id="role" class="w-100 form-control">
				<option value="STAFF">Staff</option>
				<option value="BUDGETHOLDER">Budget Holder</option>
				<option value="REQUISITIONOFFICER">Requisition Officer</option>
				<option value="FINANCEOFFICER">Finance Officer</option>
				<option value="ADMIN">Administrator</option>
			</select>
		</div>
		<input class="btn btn-dark w-100 mt-3" type="submit" value="create user" id="submitButton" />
	</form>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
</body>
</html>